body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

#quiz-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

li:hover {
    background-color: #4CAF50;
    color: white;
    transform: scale(1.05);
}

#next-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#next-button:hover {
    background-color: #45a049;
}

#score {
    font-size: 18px;
    color: #333;
    margin-top: 20px;
}

/* Style for quiz finish */
#quiz-container.quiz-finished {
    text-align: center;
}

#quiz-container.quiz-finished h1 {
    font-size: 32px;
    color: #4CAF50;
}

#quiz-container.quiz-finished #score {
    font-size: 24px;
    color: #333;
}